AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/storage.ide-wal
AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/storage.ide-shm
AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/storage.ide
AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/db.lock
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/storage.ide-wal
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/storage.ide-shm
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/storage.ide
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/db.lock
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/storage.ide-wal
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/storage.ide-shm
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/storage.ide
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/db.lock
ReadTwitter/ReadT/packages/
ReadTwitter/ReadT/ReadT/bin/
ReadTwitter/ReadT/ReadT/obj/

AF/TweeterFunciton/.vs/config/applicationhost.config
MT/GetTweetsCore/.vs/config/applicationhost.config
Twitter/ReadTwitter/ReadT/packages/
Twitter/MT/GetTweetsCore/.vs/
Twitter/MT/GetTweetsCore/GetTweetsCore/bin/
Twitter/ReadTwitter/ReadT/.vs/
Twitter/ReadTwitter/ReadT/ReadT/bin/
SavingLife/ChangeFeedDemo/IoTDataPump/AzureCosmosDBLib/obj/
SavingLife/ChangeFeedDemo/AzureFunction/MonitorTraffic/.vs/
SavingLife/ChangeFeedDemo/IoTDataPump/.vs/
SavingLife/ChangeFeedDemo/IoTDataPump/AzureCosmosDBLib/bin/
Twitter/AF/TwitterFunction/.vs/
Twitter/ReadTwitter/ReadT/ReadT/obj/
Twitter/MT/GetTweetsCore/GetTweetsCore/obj/
SavingLife/ChangeFeedDemo/.vs/
keys.txt
ChangeFeed/ChangeFeedProcessorV2/.vs/
ChangeFeed/ChangeFeedWithClientSDK/.vs/
