AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/storage.ide-wal
AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/storage.ide-shm
AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/storage.ide
AF/TweeterFunciton/.vs/TweeterFunciton/v15/Server/sqlite3/db.lock
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/storage.ide-wal
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/storage.ide-shm
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/storage.ide
MT/GetTweetsCore/.vs/GetTweetsCore/v15/Server/sqlite3/db.lock
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/storage.ide-wal
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/storage.ide-shm
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/storage.ide
ReadTwitter/ReadT/.vs/ReadT/v15/Server/sqlite3/db.lock
ReadTwitter/ReadT/packages/
ReadTwitter/ReadT/ReadT/bin/
ReadTwitter/ReadT/ReadT/obj/
ReadTwitter/ReadT/ReadT/App.config
AF/TweeterFunciton/.vs/config/applicationhost.config
MT/GetTweetsCore/.vs/config/applicationhost.config
