<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="https://rafat-tweets.documents.azure.com:443/" />
    <add key="AuthKey" value="bjNcdxeQvqBKxQy6rhbkqWc7RoAdPBNWQh5kZhNlGmcrGuKwvt4ng7qhHzvbpnvWTvci03qqXK7kg3YqbnCTQg==" />
    <add key="Database" value="rafat-tweets" />
    <add key="Collection" value="tweets" />
    <add key="CongnitiveSubscriptionKey" value="Ocp-Apim-Subscription-Key" />
    <add key="CongnitiveConsumerSecret" value="Key" />
    <add key="TwitterConsumerKey" value="Key" />
    <add key="TwitterConsumerSecret" value="Key" />

  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>